# node dependency directories
node_modules/

# distributables; uploaded to the GAS project
dist/

# clasp config and GAS project ID
.clasp.json

# dotenv environment variables file
.env
.env.test

# configurations and file IDs
config.js
